<script>
    // Create a global to inject in the client some parameters from the server
    const global = {};
    global.username = "{{param.username}}";
    global.lang_std = "{{param.lang_std}}";
    console.log(global);
</script>
<h1>{{title}}</h1>
<div id="info_area"></div>
<nav role="menu">
<ol id="choices_area">
    {{#each choices}}
        <li><a data-link="{{this.id}}" data-action="{{this.type}}" href="{{this.url}}" data-keyword="{{this.keyword}}">{{this.name}}</a></li>
    {{/each}}
</ol>
</nav>
<fieldset><legend>Help/Aide</legend>
    <div id="informations">
    </div>
</fieldset><br>

<script src="/modules/index.mjs" type="module"></script>
