<script>
    // Create a global to inject in the client some parameters from the server
    const global = {};
    global.username = "{{param.username}}";
    global.lang_std = "{{param.lang_std}}";
    global.context = "{{context}}";
    global.search_limit = {{param.search_limit}};
</script>
<h1>{{title}}</h1>
<nav>
<ol id="choices_area">
    {{#each choices}}
        <li><a data-link="{{this.id}}" data-action="{{this.type}}" href="{{this.url}}" data-keyword="{{this.keyword}}">{{this.name}}</a></li>
    {{/each}}
</ol>
</nav>
<div id="info_area"></div><br>
<div id="search_form">
    <form>
        <label><span data-role="label1">Searching</span>&nbsp;&nbsp;<input type="search" value="" /></label>
        <input type="submit" value="Validate" data-role="submit" />
    </form><br>
</div>

<div id="navbar_area"></div><br>
<div id="search_area"></div><br>

<fieldset data-role="help"><legend>Help/Aide</legend>
    <div id="informations">
    </div>
</fieldset><br>
<script src="/javascripts/alasql/alasql.js"></script>
<script src="/modules/searching.mjs" type="module"></script>
