<style>
    body, html {
        margin: 0;
    }

    html {
        height: 100%;
    }
    body {
        height: 90%;
        max-width: 800px;
        margin: 0 auto;
    }
    h1, p {
        font-family: sans-serif;
        text-align: center;
        padding: 20px;
    }
    .txt, select, form > div {
        display: block;
        margin: 0 auto;
        font-family: sans-serif;
        font-size: 16px;
        padding: 5px;
    }
    .txt {
        width: 80%;
    }
    select {
        width: 83%;
    }
    form > div {
        width: 81%;
    }
    .txt, form > div {
        margin-bottom: 10px;
        overflow: auto;
    }
    .clearfix {
        clear: both;
    }
    label {
        float: left;
        width: 10%;
        line-height: 1.5;
    }
    .rate-value, .pitch-value, .volume-value {
        float: right;
        width: 5%;
        line-height: 1.5;
    }
    #rate, #pitch, #volume {
        float: right;
        width: 81%;
    }
    .controls {
        text-align: center;
        margin-top: 10px;
    }
    .controls button {
        padding: 10px;
    }
</style>

<h1>{{title}}</h1>
<p>Be careful : The menu of this page test is not vocally drived</p>
<ol id="choices_area">
    {{#each choices}}
        <li><a data-link="{{this.id}}" data-action="{{this.type}}" href="{{this.url}}" data-keyword="{{this.keyword}}">{{this.name}}</a></li>
    {{/each}}
</ol>
<form>
    <input type="text" class="txt" placeholder="type a text here">
    <div>
        <label for="rate">Rate</label><input type="range" min="0.5" max="2" value="1" step="0.1" id="rate">
        <div class="rate-value">1</div>
        <div class="clearfix"></div>
    </div>
    <div>
        <label for="pitch">Pitch</label><input type="range" min="0" max="2" value="1" step="0.1" id="pitch">
        <div class="pitch-value">1</div>
        <div class="clearfix"></div>
    </div>
    <div>
        <label for="volume">Volume</label><input type="range" min="0" max="1" value="0.5" step="0.1" id="volume">
        <div class="volume-value">0.5</div>
        <div class="clearfix"></div>
    </div>
    <select>
    </select>
    <div class="controls">
        <button id="play" type="submit">Play</button>
    </div>
</form>
<script src="/modules/testspeech1.mjs" type="module"></script>
